NEXT_PUBLIC_WHOP_PLAN_ID=
NEXT_PUBLIC_WHOP_CHECKOUT_URL=
NEXT_PUBLIC_SHOP_LINK=
SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_VARIANT_ID=gid://shopify/ProductVariant/44387093381165
